<div class='stateless-click-count' w-bind="./index">
    <h6>This is for stateless click count</h6>
    Hello ${data.greetingName}! 
    <div>You have clicked <span w-id='clickCount'>0 times</span></div>
    
    <button type='button' w-onClick='handleButtonClick'>Click Me</button>  
</div>