<div style="border:1px solid #333; margin: 10px; padding:15px;">
    Yet another hello. This is from client side component, possible because of "require-run: ./client" in browser.json.
    <h5>Hello ${data.name}!</h5>
</div>